<mat-sidenav-container class="sidenav-container">
<mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
  <mat-nav-list>
    <a
      *ngFor="let link of navLinks"
      mat-list-item
      
      (click)="onNavItemClick(sidenav, link.path)"    >
      {{ link.label }}
    </a>
  </mat-nav-list>
</mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Delivery</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
