<mat-card>
  <mat-card-header>
    <mat-card-title>Selecciona Tabulador, Zona y Barrio</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Selector de Tabulador -->
    <mat-form-field appearance="fill">
      <mat-label>Tabulador</mat-label>
      <mat-select (selectionChange)="onTabuladorChange($event)">
        <mat-option *ngFor="let tabulador of tabulador" [value]="tabulador.id">
          {{ tabulador.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Selector de Zona -->
    <mat-form-field appearance="fill">
      <mat-label>Zona</mat-label>
      <mat-select (selectionChange)="onZonaChange($event)" [disabled]="zonasDisponibles.length === 0">
        <mat-option *ngFor="let zona of zonasDisponibles" [value]="zona.id">
          {{ zona.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <!-- Lista de Barrios -->
  <div *ngIf="barriosDisponibles.length > 0">
    <h3>Barrios Disponibles</h3>
    <mat-list>
      <mat-list-item *ngFor="let barrio of barriosDisponibles" (click)="onBarrioSelect(barrio)">
        {{ barrio.name }} - {{ barrio.price | currency }}
      </mat-list-item>
    </mat-list>
  </div>
      <!-- Información del Barrio Seleccionado -->
      <!-- <div *ngIf="selectedBarrio">
        <h3>Información del Barrio Seleccionado</h3>
        <p><strong>Nombre:</strong> {{ selectedBarrio.name }}</p>
        <p><strong>Precio:</strong> {{ selectedBarrio.price | currency }}</p>
      </div> -->
  </mat-card-content>
</mat-card>
