<div *ngIf="loading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<mat-card>
  <mat-card-header>
    <mat-card-title>Selecciona Tabulador, Zona y Barrio</mat-card-title>
  </mat-card-header>
  <mat-card-content>

<app-select-custom
  label="Tabulador"
  [options]="tabuladors"
  (selectionChange)="onTabuladorChange($event)">
</app-select-custom>

<!-- Selector de Zona -->
<app-select-custom
  label="Zona"
  [options]="zonasDisponibles"
  [disabled]="zonasDisponibles.length === 0"
  (selectionChange)="onZonaChange($event)">
</app-select-custom>

  <!-- Lista de Barrios -->
  <div *ngIf="barriosDisponibles.length > 0">
    <h3>Barrios Disponibles</h3>
    <mat-list>
      <mat-list-item *ngFor="let barrio of barriosDisponibles" (click)="onBarrioSelect(barrio)">
        {{ barrio.Name }} - {{ barrio.Price | currency }}
        <button mat-icon-button (click)="openEditDialog(barrio)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
   
  </mat-card-content>
</mat-card>