/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

:root {
    --blue-servi-entrega:  rgb(0, 132, 255);
    --pane-padding: 5px 42px;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-drawer-container {
  position: relative;
  z-index: 1;
  color: var(--mat-sidenav-content-text-color);
  background-color: var(--mat-sidenav-content-background-color);
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
  min-width: 100vh;
}
.mat-sidenav-content{
  min-width: 100vh;
  min-height: 100vh;
  max-height: 100vh;

}